<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Day la trang home</h1>
    <p>Trang nay hien thi cac danh sach san pham kem anh</p>
    <p>Cac ban co the chon va mua hang tai day</p>
  </div>

  <!-- Đoạn này có 1 ô searchbox bên trái, 1 combobox bên phải -->
  <div class="search-box">
    <input type="text" class="form-control search-input" placeholder="Tìm kiếm sản phẩm">
    <select class="form-control product-category">
      <option value="" selected disabled>Danh mục sản phẩm</option>
      <option value="">Đỗ điện tử</option>
      <option value="">Gia dụng</option>
      <option value="">Bánh kẹo</option>
      <option value="">Hải sản</option>
    </select>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mba13-midnight-select-202402?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1708367688034"
          alt="product image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mba13-midnight-select-202402?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1708367688034"
          alt="product image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mba13-midnight-select-202402?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1708367688034"
          alt="product image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mba13-midnight-select-202402?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1708367688034"
          alt="product image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mba13-midnight-select-202402?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1708367688034"
          alt="product image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mba13-midnight-select-202402?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1708367688034"
          alt="product image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/mba13-midnight-select-202402?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1708367688034"
          alt="product image" class="product-image">
        <h3 class="product-name">Product 1</h3>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$200</del> $100</p>
        <div class="product-rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>